@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/adios.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
